body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #11749e;
}
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: #f5f5f5;
}
input,
textarea {
  background-color: transparent;
  padding: auto 20px;
  padding-left: 20px;
  color: #f5f5f5;
  font-size: 16px;
  outline: none;
}
input {
  width: 100%;
  height: 50px;
}
textarea {
  margin-top: 40px;
  width: 100%;
  height: 150px;
  padding-top: 10px;
}
footer {
  height: 115px;
  background-color: #222222;
}
input#Name,
input#Email,
input#phoneNumber {
  width: 100%;
}
#main-header {
  height: 100vh;
  background: url(../img/header-bg.jpg) no-repeat center center;
  background-size: cover;
}
.main-header-nav {
  margin-top: 20px;
}
.main-header-nav .col-lg-7 {
  padding-left: 0;
  padding-right: 0;
}
.main-header-nav .col-lg-2 {
  padding-right: 0;
  padding-left: 30px;
}
.main-header-menu {
  margin-top: 20px;
  font-size: 20px;
  padding-left: 0;
}
.main-header-menu-item {
  display: inline-block;
  height: auto;
  width: auto;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: #f5f5f5;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-sizing: border-box;
}
.main-header-menu-item:hover {
  color: #f5f5f5;
  text-decoration: none;
  border-bottom: 5px solid #11749e;
}
.main-header-social {
  margin-top: 30px;
  padding-left: 0;
  font-size: 20px;
}
.main-header-social-item {
  list-style-type: none;
  display: inline-block;
  padding-right: 15px;
  color: #f5f5f5;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-header-social-item:hover {
  color: #11749e;
}
.main-header-social-item:hover .fa-facebook {
  color: #3b5998;
}
.main-header-social-item:hover .fa-twitter {
  color: #1da1f2;
}
.main-header-social-item:hover .fa-skype {
  color: #00aff0;
}
.main-header-social-item:hover .fa-linkedin {
  color: #0077b5;
}
.main-header-name {
  margin-top: 100px;
  text-transform: uppercase;
  color: #f5f5f5;
}
.main-header-name h1 {
  font-size: 152px;
}
.main-header-name p {
  font-size: 30px;
  color: #11749e;
  letter-spacing: 18px;
  padding-left: 10px;
}
.main-header-name .scroll-next {
  margin-top: 5%;
  padding-left: 0;
  text-transform: none;
  letter-spacing: normal;
  font-size: 12px;
  color: #f5f5f5;
}
.main-header-name .scroll-next-arr {
  display: inline-block;
  border: 1px solid #ffffff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  height: 64px;
  width: 64px;
  padding: 10px;
  background-color: transparent;
  font-size: 20px;
  color: #f5f5f5;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-header-name .scroll-next-arr:hover {
  color: #11749e;
  border-color: #11749e;
}
.burger-menu {
  display: none;
  position: fixed;
  height: 100vh;
  width: 250px;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.burger-menu ul.hidden-menu {
  text-align: center;
  list-style: none;
  margin-top: 30%;
  line-height: 2.5;
  padding-left: 0;
}
.burger-menu ul.hidden-menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.burger-menu ul.hidden-menu li a:hover {
  text-decoration: none;
  color: #ffc007;
  -webkit-box-shadow: 0px 0px 120px 25px #14375a;
  -moz-box-shadow: 0px 0px 120px 25px #14375a;
  box-shadow: 0px 0px 120px 25px #14375a;
}
.burger-menu ul.menu-social {
  text-align: center;
  list-style: none;
  margin-top: 30%;
  padding-left: 0;
}
.burger-menu ul.menu-social li {
  display: inline-block;
}
.burger-menu ul.menu-social li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
}
.burger-menu ul.menu-social li a i {
  height: 30px;
  width: 27px;
}
.burger-menu ul.menu-social li a:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 120px 25px #14375a;
  -moz-box-shadow: 0px 0px 120px 25px #14375a;
  box-shadow: 0px 0px 120px 25px #14375a;
}
.burger-menu ul.menu-social li a:hover .fa-facebook {
  color: #3b5998;
}
.burger-menu ul.menu-social li a:hover .fa-twitter {
  color: #1da1f2;
}
.burger-menu ul.menu-social li a:hover .fa-skype {
  color: #00aff0;
}
.burger-menu ul.menu-social li a:hover .fa-linkedin {
  color: #0077b5;
}
.burger-nav {
  display: none;
}
.nav-line {
  display: inline-block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 10%;
  right: 5%;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.nav-line:before,
.nav-line:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.nav-line:before {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  transform: translateY(-8px);
}
.nav-line:after {
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px);
}
.close-nav {
  position: fixed;
  font-size: 50px;
  top: 1%;
  right: 22%;
  height: 80px;
  width: 80px;
  padding: 4px 26px;
  color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.close-nav:hover {
  cursor: pointer;
  color: #ffc007;
  -webkit-box-shadow: 0px 0px 120px 25px #14375a;
  -moz-box-shadow: 0px 0px 120px 25px #14375a;
  box-shadow: 0px 0px 120px 25px #14375a;
}
.fa-chevron-down {
  margin-top: 10px;
}
.logo-img-1 {
  margin-top: 15%;
}
.logo-img-2 {
  margin-left: -20%;
  margin-top: -160%;
}
#pages {
  height: auto;
}
.pages-title {
  margin-top: 10%;
  color: #f5f5f5;
  font-size: 38px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.pages-item {
  margin-top: 10%;
  margin-bottom: 5%;
  padding-bottom: 3%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pages-item h3,
.pages-item p {
  color: #f5f5f5;
}
.pages-item-img {
  margin-top: 5%;
}
.pages-item:hover {
  background-color: #ffc007;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 50px 20px #ffc007;
  -moz-box-shadow: 0px 0px 50px 20px #ffc007;
  box-shadow: 0px 0px 50px 20px #ffc007;
}
.pages-item:hover h3,
.pages-item:hover p {
  color: #000000;
}
.page-dark {
  width: 50%;
  height: auto;
  background-color: #222222;
  padding-left: 10%;
  color: #f5f5f5;
}
.page-light {
  background-color: #f3f3f3;
  padding-left: 5%;
}
.page-text {
  height: 65vh;
  padding-top: 3%;
}
.page-text p {
  margin-top: 7%;
  font-size: 15px;
}
.page-text h3 {
  margin-top: 3%;
  font-size: 25px;
}
.page-img {
  padding-left: 0;
  padding-right: 0;
}
#img-1 {
  height: 65vh;
  background: url(../img/pages-1.jpg) no-repeat center center;
  background-size: cover;
}
#img-2 {
  height: 65vh;
  background: url(../img/pages-2.jpg) no-repeat center center;
  background-size: cover;
}
#line {
  height: auto;
  background-color: #11749e;
}
.line-box {
  margin-top: 3%;
  margin-bottom: 3%;
}
.line-box img {
  float: left;
  margin-right: 20px;
}
.blog-title {
  margin-top: 12%;
}
.blog-title h2 {
  font-size: 38px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.blog-title p {
  margin-top: 5%;
  font-size: 30px;
}
.blog-item {
  margin-top: 5%;
  margin-bottom: 5%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blog-item img {
  margin-top: 5%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blog-item:hover {
  -webkit-transform: scale(1.025, 1.025);
  -ms-transform: scale(1.025, 1.025);
  -o-transform: scale(1.025, 1.025);
  transform: scale(1.025, 1.025);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 120px 25px #14375a;
  -moz-box-shadow: 0px 0px 120px 25px #14375a;
  box-shadow: 0px 0px 120px 25px #14375a;
  background-color: #11749e;
  color: #f5f5f5;
}
.blog-item:hover img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
#band {
  height: auto;
  background-color: #11749e;
}
.band-block {
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 5%;
}
.band-block img {
  float: left;
  padding-right: 10px;
}
.band-block p {
  margin-bottom: 0;
}
#akita {
  height: 100vh;
}
.akita-title {
  margin-top: 7%;
  color: #f5f5f5;
}
.akita-title h3 {
  font-size: 25px;
  text-transform: uppercase;
}
.akita-title p {
  margin-top: 5%;
  font-size: 15px;
  margin-bottom: 5%;
}
.akita-line {
  display: block;
  height: 30px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 0;
  padding: 5px;
  padding-left: 15px;
  text-transform: uppercase;
  color: #f5f5f5;
  background-color: #11749e;
}
.akita-img {
  margin-top: 10%;
  text-align: center;
}
#line-1 {
  width: 55%;
}
#line-2 {
  width: 60%;
}
#line-3 {
  width: 68%;
}
.parallax-window {
  min-height: 400px;
  background: transparent;
}
.layer img {
  width: 400px;
}
.team-title {
  margin-top: 8%;
}
.team-title h2 {
  text-transform: uppercase;
  font-size: 38px;
}
.team-title p {
  margin-top: 8%;
  font-size: 30px;
}
.team-item {
  margin-top: 4%;
  margin-bottom: 10%;
}
.team-item-info {
  position: absolute;
  width: 200px;
  height: 75px;
  top: 85%;
  left: 16%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.75);
}
.team-item-info h3 {
  margin-top: 10px;
  color: #11749e;
  font-size: 20px;
}
.team-item-info p {
  color: #000000;
  font-size: 15px;
}
#text-2 {
  display: none;
}
.signature {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 10px;
  width: 92%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.signature:hover {
  opacity: 1;
  border: 5px solid #11749e;
}
.sign-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #11749e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 5px;
  padding-top: 10px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sign-social:hover {
  background-color: #ffffff;
}
.sign-social:hover i.fa-facebook {
  color: #3b5998;
}
.sign-social:hover i.fa-twitter {
  color: #1da1f2;
}
.sign-social:hover i.fa-skype {
  color: #00aff0;
}
.sign-social:hover i.fa-linkedin {
  color: #0077b5;
}
.sign-social i.fa {
  font-size: 30px;
  color: #f5f5f5;
}
.sign > a:first-child {
  -webkit-transform: translate3d(25px, -50px, 0);
  -ms-transform: translate3d(25px, -50px, 0);
  -o-transform: translate3d(25px, -50px, 0);
  transform: translate3d(25px, -50px, 0);
}
.sign > a:nth-child(2) {
  -webkit-transform: translate3d(90px, -50px, 0);
  -ms-transform: translate3d(90px, -50px, 0);
  -o-transform: translate3d(90px, -50px, 0);
  transform: translate3d(90px, -50px, 0);
}
.sign > a:nth-child(3) {
  -webkit-transform: translate3d(-85px, 50px, 0);
  -ms-transform: translate3d(-85px, 50px, 0);
  -o-transform: translate3d(-85px, 50px, 0);
  transform: translate3d(-85px, 50px, 0);
}
.sign > a:nth-child(4) {
  -webkit-transform: translate3d(-18px, 50px, 0);
  -ms-transform: translate3d(-18px, 50px, 0);
  -o-transform: translate3d(-18px, 50px, 0);
  transform: translate3d(-18px, 50px, 0);
}
#contact {
  height: 100vh;
}
.contact-title {
  margin-top: 5%;
}
.contact-title h2 {
  font-size: 38px;
  text-transform: uppercase;
  color: #f5f5f5;
}
.contact-form {
  margin-top: 8%;
}
.contact-form-btn {
  display: block;
  text-align: center;
  border: none;
  margin: 0 auto;
  margin-top: 7%;
  width: 230px;
  height: 65px;
  background-color: #11749e;
  padding: 15px 65px;
  color: #f5f5f5;
  font-size: 24px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contact-form-btn:hover {
  -webkit-box-shadow: 0px 0px 100px 25px #ffc107;
  -moz-box-shadow: 0px 0px 100px 25px #ffc107;
  box-shadow: 0px 0px 100px 25px #ffc107;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  color: #ffc007;
}
#map {
  height: 335px;
}
.copyright {
  padding-top: 50px;
  color: #f5f5f5;
  font-size: 20px;
  text-align: left;
}
.design {
  padding-top: 45px;
  color: #f5f5f5;
  font-size: 20px;
  text-align: right;
}
.side-navigation {
  display: none;
  position: fixed;
  right: 2%;
  bottom: 5%;
}
.side-navigation-item {
  display: block;
  height: 64px;
  width: 64px;
  background-color: #ffc007;
  margin-bottom: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  font-size: 36px;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.side-navigation-item .fa-pencil-square-o {
  color: #ffffff;
  padding-left: 16px;
  padding-top: 16px;
}
.side-navigation-item .fa-users {
  padding-left: 12px;
  padding-top: 12px;
  color: #ffffff;
}
.side-navigation-item .fa-comments {
  padding-left: 12px;
  padding-top: 12px;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.side-navigation-item:hover {
  background-color: transparent;
}
.side-navigation-item:hover i.fa {
  color: #ffc007;
}
.side-nav {
  display: none;
  position: fixed;
  left: 2%;
  bottom: 5%;
}
.side-nav-item {
  display: block;
  height: 64px;
  width: 64px;
  background-color: #ffc007;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  font-size: 36px;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.side-nav-item .fa-angle-double-up {
  color: #f5f5f5;
  padding-left: 21px;
  padding-top: 12px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.side-nav-item:hover {
  background-color: transparent;
}
.side-nav-item:hover i.fa {
  color: #ffc007;
}
svg {
  max-width: 100%;
}
.cd-modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.cd-modal svg {
  position: absolute;
  top: 0;
  left: 0;
}
.cd-modal svg > path {
  fill: #1f4c74;
}
.cd-modal .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  /* Force hardware acceleration*/
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal .modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.cd-modal.modal-is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-modal.modal-is-visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.cd-modal-content {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  padding: 3em 5% 4em;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, transform 0.3s 0s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-modal-content p {
  color: #f2f2f2;
  line-height: 1.6;
  margin: 2em 0;
}
.cd-modal-content h1 {
  color: #f2f2f2;
  font-size: 48px;
}
.cd-modal-content .form input {
  height: 50px;
  width: 500px;
  margin-top: 5%;
}
.cd-modal-content .form .form-ajax-btn {
  border: none;
  margin-top: 5%;
  height: 50px;
  width: 300px;
  padding: 15px 45px;
  font-size: 18px;
  background-color: #ffc007;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.cd-modal-content .form .form-ajax-btn:hover {
  background-color: #ecb000;
  -webkit-box-shadow: 0px 0px 100px 25px #ffc107;
  -moz-box-shadow: 0px 0px 100px 25px #ffc107;
  box-shadow: 0px 0px 100px 25px #ffc107;
}
.modal-is-visible .cd-modal-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  -moz-transition: opacity 0.3s 0.3s, -moz-transform 0.3s 0.3s;
  transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-modal-content {
    padding: 3em 10% 4em;
  }
  .cd-modal-content p {
    font-size: 2.4rem;
  }
}
.cd-cover-layer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
  -moz-transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
  transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
}
.cd-cover-layer.modal-is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
@media (max-width: 419px) {
  .main-header h1 {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .main-header-logo .logo-img-1 {
    margin-top: -15%;
  }
  .main-header-menu {
    display: none;
  }
  .main-header-social {
    display: none;
  }
  .main-header-name h1 {
    font-size: 90px;
  }
  .burger-nav {
    display: block;
  }
  .pages-item {
    margin: 0 15%;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .blog-item {
    margin: 0 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
  }
  .akita-line {
    padding-left: 3%;
    font-size: 12px;
  }
  .signature {
    width: 94%;
  }
  .team-item {
    margin: 0 25%;
    margin-top: 4%;
    margin-bottom: 10%;
  }
  .team-item-info {
    top: 90%;
    left: 23%;
  }
  .copyright {
    font-size: 16px;
  }
  .design {
    font-size: 16px;
    padding-top: 43px;
  }
  .side-nav-item {
    height: 50px;
    width: 50px;
  }
  .side-nav-item .fa-angle-double-up {
    padding-left: 13px;
    padding-top: 0;
  }
  .side-navigation-item {
    height: 50px;
    width: 50px;
    font-size: 30px;
  }
  .side-navigation-item .fa-comments {
    padding-top: 9px;
    padding-left: 9px;
  }
  .side-navigation-item .fa-users {
    padding-left: 9px;
    padding-top: 10px;
  }
  .side-navigation-item .fa-pencil-square-o {
    padding-left: 12px;
    padding-top: 11px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-header-nav .col-md-8 {
    padding-left: 0;
  }
  .main-header-logo {
    padding-left: 0;
    padding-right: 0;
    margin-top: -3%;
  }
  .main-header-menu {
    display: none;
  }
  .main-header-social {
    display: none;
  }
  .main-header-name {
    margin-top: 50px;
  }
  .main-header-name h1 {
    font-size: 100px;
  }
  .burger-nav {
    display: block;
  }
  .pages-title {
    margin-bottom: 5%;
  }
  .pages-item {
    margin-top: 5%;
  }
  .page-text {
    padding-top: 0;
  }
  .blog-item {
    margin-bottom: 5%;
  }
  .blog-item img {
    margin-left: 9%;
  }
  .signature {
    width: 95%;
  }
  .team-item-info {
    top: 90%;
    left: 17%;
    width: 250px;
  }
  .copyright,
  .design {
    font-size: 16px;
  }
  .copyright {
    padding-top: 40px;
  }
  .design {
    padding-top: 35px;
  }
  .side-nav-item {
    height: 50px;
    width: 50px;
  }
  .side-nav-item .fa-angle-double-up {
    padding-left: 13px;
    padding-top: 0;
  }
  .side-navigation-item {
    height: 50px;
    width: 50px;
    font-size: 30px;
  }
  .side-navigation-item .fa-comments {
    padding-top: 9px;
    padding-left: 9px;
  }
  .side-navigation-item .fa-users {
    padding-left: 9px;
    padding-top: 10px;
  }
  .side-navigation-item .fa-pencil-square-o {
    padding-left: 12px;
    padding-top: 11px;
  }
  .akita-line {
    font-size: 12px;
    padding-left: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-header-nav .col-md-8 {
    padding-left: 0;
  }
  .main-header-logo .logo-img-1 {
    margin-top: -10%;
  }
  .main-header-menu {
    font-size: 16px;
  }
  .main-header-menu-item {
    height: 65px;
    width: 100px;
  }
  .main-header-social {
    font-size: 18px;
  }
  .main-header-social-item {
    padding-right: 10px;
  }
  .main-header-name {
    margin-top: 70px;
  }
  .main-header-name h1 {
    font-size: 136px;
  }
  .page-text {
    padding-top: 0;
  }
  input,
  textarea {
    width: 100%;
  }
  .team-item-info {
    width: 180px;
    left: 13%;
  }
  .sign > a:nth-child(2) {
    -webkit-transform: translate3d(85px, -50px, 0);
    -ms-transform: translate3d(85px, -50px, 0);
    -o-transform: translate3d(85px, -50px, 0);
    transform: translate3d(85px, -50px, 0);
  }
  .sign > a:nth-child(4) {
    -webkit-transform: translate3d(-23px, 50px, 0);
    -ms-transform: translate3d(-23px, 50px, 0);
    -o-transform: translate3d(-23px, 50px, 0);
    transform: translate3d(-23px, 50px, 0);
  }
}
@media (min-width: 1200px) {
  .logo-img-1 {
    margin-top: -10%;
  }
  .main-header-name {
    margin-top: 5%;
  }
}
